body {
    background-color: lightgreen;
    font-size: 28px;
    text-align: center;
    display: grid;
    grid-gap: 10px;

    grid-template-areas:
    "header"
    "hero"
    "body"
    "footer"
}

header {
    background-color: lightpink;
    grid-area: header;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    grid-template-areas:
    "brand brand"
    "nav tools"
}

header .brand {
    background-color: rgba(240, 128, 128, 0.473);
    grid-area: brand;
}

header nav {
    background-color: rgba(240, 128, 128, 0.473);
    grid-area: nav;
}

header .tools {
    background-color: rgba(240, 128, 128, 0.473);
    grid-area: tools;
}

.hero {
    background-color: lightpink;
    grid-template-columns: 1fr;
    gap: 10px;
    grid-template-areas:
    "action"
    "feature"
}
.hero .action {
    background-color: rgba(240, 128, 128, 0.473);
    grid-area: action;
}

.hero .feature {
    background-color: rgba(240, 128, 128, 0.473);
    grid-area: feature;
}

main {
    background-color:lightpink;
    font-size: 20px;
    grid-area: body;

    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    grid-template-areas: 
    "article-feature"
    "ad"
    "listing"
}

main .article-feature {
    background-color: rgba(240, 128, 128, 0.473);
    grid-area: article-feature;
}

main .mobile-ad {
    grid-area: ad;
}
 main .listing {
    background-color: rgba(240, 128, 128, 0.473);
    grid-area: listing;
 }

 footer {
    background-color: lightpink;
    grid-area: footer;

    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
 }

 .desktop-ad {
    grid-area: ad;
    display: none;
 }

 .hero .feature {
    display: none;
 }

 .sidebar {
    background-color: lightpink;
    font-size: 20px;
    grid-area: sidebar;
    display: none;
}

.mobile-ad img {
    vertical-align: top;
    width: 100%;
}

.desktop-ad img {
    vertical-align: top;
    width: 350px;
}

.mobile-ad:hover {
    opacity: 0.5;
}

.desktop-ad:hover {
    opacity: 0.5;
}

@media (min-width: 576px) {
    body {
        grid-template-rows: auto auto 1fr auto auto;
        grid-template-areas:
            "header"
            "hero"
            "body"
            "sidebar"
            "footer"
    }
    
    header {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: 
        "brand nav tools"
    }
    .hero {
        grid-template-areas: 
        "feature"
        "action"
    }
    .hero .feature {
        display: block;
    }
    main {
        grid-template-columns: 1fr 200px;
        grid-template-rows: auto 1fr;
        grid-template-areas: 
        "article-feature ad"
        "listing listing"
    }
    .sidebar {
        display: grid;
    }

    .mobile-ad img {
        width: 200px;
    }
}

@media (min-width: 992px) {
    body {
        grid-template-columns: 1fr 350px;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas:
            "header header"
            "hero ad"
            "body sidebar"
            "footer footer"
    } 

    .hero {
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 
        "feature action"
    }
    
    main {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "article-feature listing "
    }
    .mobile-ad {
        display: none;
    }

    .desktop-ad {
        display: block;
    }
}
